body {
  font-family: "Evil Empire";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
      66.5% 221.21% at 136.03% -61.44%,
      rgba(161, 155, 217, 0.4) 0%,
      rgba(161, 155, 217, 0) 92.09%
    ),
    radial-gradient(
      93.54% 126.91% at 29.15% -56.29%,
      rgba(233, 69, 96, 0.7) 0%,
      rgba(233, 69, 96, 0) 92.09%
    ),
    radial-gradient(
      86.19% 101.84% at -17.13% -24.8%,
      rgba(0, 162, 254, 0.7) 0%,
      rgba(0, 162, 254, 0) 92.09%
    ),
    #1a1a2e;
}

@font-face {
  font-family: "Evil Empire";
  src: url("/public/EvilEmpire.ttf");
}
