body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Evil Empire";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  min-height: 100vh;
  height: 1px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background: no-repeat url("/public/rootback.jpg");
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
}

@font-face {
  font-family: "Evil Empire";
  src: url("/public/EvilEmpire.ttf");
}
